<h1>3. Post Index page</h1>
<p> this is the post index page </p>

<div>
    <%= image_tag @user.photo%>
    <button><%= @user.name %> Posts: <%= @user.posts_counter%></button>
</div>

<%# show all user posts %>
<div>
    <% @user.posts.each do |post| %>
        <%= link_to user_post_path(@user, post) do %>
            <button> <%= post.title %> <%= post.text %> Comments: <%= post.comments_counter%> Likes: <%= post.likes_counter%></button><br>
        <% end %>

    <% end %>
</div>

<%= render '/back' %>