<h1>3. Post Index page</h1>
<p> this is the post index page </p>
<div>
  <%= image_tag @user.photo%>
  <button><%= @user.name %> Posts: <%= @user.posts_counter%></button>
</div>
<%# show all user posts %>
<div>
  <% @user.posts.each do |post| %>
    <%= link_to post.title, user_post_path(@user, post) %>
    <button> <%= post.text %> Comments: <%= post.comments_counter%> Likes: <%= post.likes_counter%></button><br>
  <% end %>
</div>
<div>
  <%=button_tag 'Pagination', class: 'btn btn-primary', type: 'submit'%>
</div>
<%= render '/back' %>
