<h1>4. Post show page</h1>
<p> this is the Post show page </p>
<%# details of the post %>
<div>
  <button><%= @post.title %> By <%=@post.author.name%> <%= @post.text %> Comments: <%= @post.comments_counter%> Likes: <%= @post.likes_counter%></button><br>
  <%# show all comments for this post %>
  <div>
    <% @post.comments.each do |comment| %>
      <br>
      <li> Username: <%=comment.author.name%>,  <%= comment.text %> </li>
      <br>
    <% end %>
  </div>
</div>
<%# add a form to create a new comment %>
<div>
  <%=form_with model: @comment, :url => user_comments_path(@user, @post) do |f|%>
    <%=f.text_area :text, placeholder: 'Comment'%><br>
    <%=f.submit 'Add comment'%> <br>
  <%end%>
</div>
<%# adding a form for like %>
<div>
  <br>
  <%=form_with model: @like, :url => user_likes_path(@user, @post) do |f|%>
    <%=f.button nil do %>
      <%= icon('fa-solid', 'thumbs-up', class: 'like')%>
    <% end %>
  <%end%>
</div>
<br>
<%= render '/back' %>
