<h1>4. Post show page</h1>
<p> this is the Post show page </p>


<%# details of the post %>
<div>
    <button><%= @post.title %> <%= @post.text %> Comments: <%= @post.comments_counter%> Likes: <%= @post.likes_counter%></button>
    <%# show all comments for this post %>
    <div>
        <% @comments.each do |comment| %>
            <li> Username: <%=@user.name%>,  <%= comment.text %> </li>
        <% end %>
    </div>
</div>

<%# add a form to create a new comment %>
<div>
    <%=form_with model: @comment, :url => user_comments_path(@user, @post) do |f|%>
      <%=f.text_field :text, placeholder: 'Comment'%>
      <%=f.submit 'Add comment'%>
    <%end%>
</div>

<%= render '/back' %>